/tools export-ignore
/qa-corpus export-ignore
/docs export-ignore
/.github export-ignore
/CONTEXT.md export-ignore
/README.md export-ignore
/.phpcs.xml.dist export-ignore
/.gitattributes export-ignore
